/* Un premier media query pour le logo - apparaît en mode paysage sur les mobiles */
header .desktop-centered,
main section,
footer .desktop-centered {
  width: 100%;
}
header .desktop-centered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
header .desktop-centered img {
  max-width: 33vw;
}
header img {
  /* width : 352px; dimension de l'image */
  width: 352px;
  /* dimension de l'image */
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}
header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}
header nav ul li:first-child {
  border-top: none;
}
main section {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
main section article {
  font-size: 100px;
}
footer {
  justify-content: space-around;
}
